@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500');
@import "tailwindcss";



/* This makes Montserrat Alternates the default font for your whole app */
@layer base {
  body {
    font-family: "Montserrat Alternates", system-ui, sans-serif;
  }
}


body { overflow-x: hidden; }


@theme {
  --color-primary: rgba(255, 255, 255, 0.15);
  --color-primary-hover: #D97E00;
}

:root {
  --primary-btn-gradient: linear-gradient(to right, #EBA62B, #147CCE);
}

.primary-btn {
  background: var(--primary-btn-gradient);
  color: white;
}


.gradient-border-bottom {
  border: none;
  background-image: linear-gradient(to right, #EBA62B, #147CCE);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.gradient-border {
  position: relative;
  padding: 24px;
  border-radius: 16px; /* round corners */
  background: #0f172a; /* inner content background */
  color: white;
  z-index: 0;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* border thickness */
  border-radius: 16px; /* same as container */
  background: linear-gradient(to right, #EBA62B, #147CCE); /* gradient border */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}